apiVersion: v1
kind: ConfigMap
metadata:
  name: fluent-bit-config
  namespace: kube-system
  labels:
    app.kubernetes.io/name: fluent-bit
data:

  ###########################
  # Fluent Bit MAIN CONFIG  #
  ###########################
  fluent-bit.conf: |
    [SERVICE]
        Flush        5
        Daemon       Off
        Log_Level    info
        Parsers_File parsers.conf
        storage.path /var/fluent-bit/storage

    # ---- INPUT ----
    @INCLUDE input-kubernetes.conf

    # ---- FILTERS ----
    @INCLUDE filters.conf

    # ---- OUTPUT ----
    @INCLUDE output-gelf.conf


  ###########################
  # INPUT: KUBERNETES LOGS  #
  ###########################
  input-kubernetes.conf: |
    [INPUT]
        Name              tail
        Path              /var/log/containers/*.log
        Parser            docker
        Tag               kube.*
        Mem_Buf_Limit     50MB
        Skip_Long_Lines   On
        Refresh_Interval  5
        storage.type      filesystem
        DB                /var/fluent-bit/storage/tail-containers.db

  ###########################
  # FILTERS (METADATA, ETC) #
  ###########################
  filters.conf: |
    # Add Kubernetes metadata
    [FILTER]
        Name                kubernetes
        Match               kube.*
        Kube_URL            https://kubernetes.default.svc:443
        Kube_CA_File        /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
        Kube_Token_File     /var/run/secrets/kubernetes.io/serviceaccount/token
        Kube_Tag_Prefix     kube.var.log.containers.
        Merge_Log           On
        Keep_Log            On
        K8S-Logging.Parser  On
        K8S-Logging.Exclude On
        Labels              On
        Annotations         Off

    # Add static cluster_name for filtering in Graylog
    [FILTER]
        Name         modify
        Match        *
        Add          cluster_name cluster_prod_50

    # Optional: Clean noisy fields
    [FILTER]
        Name         modify
        Match        *
        Remove       stream
        Remove       kubernetes.container_hash

    # LUA FILTER (add dividing_name field)
    [FILTER]
        Name   lua
        Match  kube.*
        script /fluent-bit/scripts/combine_fields.lua
        call   add_dividing_name

  ###########################
  # GELF OUTPUT SECTION     #
  ###########################
  output-gelf.conf: |
    [OUTPUT]
        Name          gelf
        Match         *
        Host          10.10.21.151
        Port          31220
        Mode          tcp
        gelf_short_message_key   log
        gelf_timestamp_key       @timestamp
        gelf_host_key            host
        gelf_level_key           level


  ###########################
  # PARSERS                 #
  ###########################
  parsers.conf: |
    [PARSER]
        Name        docker
        Format      json
        Time_Key    time
        Time_Format %Y-%m-%dT%H:%M:%S.%LZ
        Time_Keep   On
        Decode_Field_As escaped_utf8 log do_next
        Decode_Field_As escaped log do_next