apiVersion: v1
kind: ConfigMap
metadata:
  name: fluent-bit-config
  namespace: kube-system
  labels:
    app.kubernetes.io/name: fluent-bit
data:
  fluent-bit.conf: |
    [SERVICE]
        Flush        5
        Daemon       Off
        Log_Level    debug
        Parsers_File parsers.conf

    @INCLUDE input-kubernetes.conf
    @INCLUDE filters.conf
    @INCLUDE output-gelf.conf

  input-kubernetes.conf: |
    [INPUT]
        Name              tail
        Path              /var/lib/docker/containers/*/*-json.log
        Parser            docker
        Tag               kube.*
        Mem_Buf_Limit     50MB
        Skip_Long_Lines   On
        Refresh_Interval  10
        Rotate_Wait       30
        Read_From_Head    False
        DB                /var/fluent-bit/state/tail-docker.db
        DB.Sync           full
        Ignore_Older      1d

  filters.conf: |
    [FILTER]
        Name    grep
        Match   kube.*
        Exclude kubernetes.namespace_name kube-system kube-public

    [FILTER]
        Name                kubernetes
        Match               kube.*
        Kube_URL            https://kubernetes.default.svc:443
        Kube_CA_File        /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
        Kube_Token_File     /var/run/secrets/kubernetes.io/serviceaccount/token
        Kube_Tag_Prefix     kube.var.lib.docker.containers.
        kube_meta_cache_ttl                 300    # 5 min TTL for pod metadata
        kube_meta_namespace_cache_ttl       900    # 15 min for namespace (default)
        Merge_Log           On
        Keep_Log            On
        K8S-Logging.Parser  On
        Labels              On
        Annotations         Off
        use_kubelet         On
        cache_use_docker_id    On
        dummy_meta          Off

    [FILTER]
        Name         modify
        Match        *
        Add          cluster_name cluster_prod_50

    [FILTER]
        Name         modify
        Match        *
        Remove       stream
        Remove       kubernetes.container_hash

    [FILTER]
        Name   lua
        Match  kube.*
        script /fluent-bit/scripts/combine_fields.lua
        call   add_dividing_name

  output-gelf.conf: |
    [OUTPUT]
        Name          gelf
        Match         *
        Host          10.10.21.151
        Port          31220
        Mode          tcp
        Gelf_Short_Message_Key   log
        Gelf_Timestamp_Key       @timestamp
        Gelf_Host_Key            host

  parsers.conf: |
    [PARSER]
        Name        docker
        Format      json
        Time_Key    time
        Time_Format %Y-%m-%dT%H:%M:%S.%L%z
        Time_Keep   On