apiVersion: v1
kind: ConfigMap
metadata:
  name: fluent-bit-config
  namespace: kube-system
  labels:
    app.kubernetes.io/name: fluent-bit
data:

  ###########################
  # Fluent Bit MAIN CONFIG  #
  ###########################
  fluent-bit.conf: |
    [SERVICE]
        Flush        1
        Daemon       Off
        Log_Level    info
        Parsers_File parsers.conf
        storage.path /var/fluent-bit/storage

    # ---- INPUT ----
    @INCLUDE input-kubernetes.conf

    # ---- FILTERS ----
    @INCLUDE filters.conf

    # ---- OUTPUT ----
    @INCLUDE output-gelf.conf


  ###########################
  # INPUT: KUBERNETES LOGS  #
  ###########################
  input-kubernetes.conf: |
    [INPUT]
        Name              tail
        Path              /var/log/containers/*.log
        Parser            docker
        Tag               kube.*
        Mem_Buf_Limit     50MB
        Skip_Long_Lines   On
        storage.type      filesystem

    [INPUT]
        Name              systemd
        Tag               host.*
        Systemd_Filter    _SYSTEMD_UNIT=ssh.service
        Read_From_Tail    On


  ###########################
  # FILTERS (METADATA, ETC) #
  ###########################
  filters.conf: |
    # Add Kubernetes metadata
    [FILTER]
        Name kubernetes
        Match kube.*
        Merge_Log On
        Merge_Log_Key log_processed
        Kube_Tag_Prefix kube.var.log.containers.
        K8S-Logging.Parser  On
        K8S-Logging.Exclude Off

    # Optional: Clean noisy fields
    [FILTER]
        Name         modify
        Match        *
        Remove       stream
        Remove       kubernetes.container_hash


  ###########################
  # GELF OUTPUT SECTION     #
  ###########################
  output-gelf.conf: |
    [OUTPUT]
        Name          gelf
        Match         *
        Host          graylog.default.svc.cluster.local
        Port          12201
        Mode          tcp
        Short_Message_Key log
        Full_Message_Key  message
        Gelf_Short_Message_Key log
        Gelf_Host_Key   host
        # Optional: remove logs that can break GELF
        Gelf_Include_Tag  On


  ###########################
  # PARSERS                 #
  ###########################
  parsers.conf: |
    [PARSER]
        Name        docker
        Format      json
        Time_Key    time
        Time_Format %Y-%m-%dT%H:%M:%S.%L
        Time_Keep   On